<h3>Sign in</h3>

<%= form_tag sessions_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  </br><%= check_box_tag :remember_me, 1, params[:remember_me] %>
  <%= label_tag :remember_me %>

  <%= submit_tag "Log in", :class => "btn btn-1" %>
<% end %>

<h3>Forgot Password?</h3>
<%= render 'forgot_password_form' %>
