<h1>Edit an Event</h1>
</br>
<% @event.errors.full_messages.each do |error| %>
  <li><%= error %><li>
<% end %>
<%= form_for [:admin, @event] do |f| %>
  <%= render 'fields', f: f %>
  <%= f.submit %></p>
<% end %>

<%= link_to 'back',admin_events_path %>
