<h1>Edit an Event</h1>
</br>
<% @event.errors.full_messages.each do |error| %>
  <li><%= error %><li>
<% end %>
<%= form_for [:admin, @event] do |f| %>
  <p>
  <%= f.label :title %>
  <%= f.text_field :title %></p>
  <p>
  <%= f.label :description %>
  <%= f.text_field :description %></p>
  <p>
  <%= f.label :venue %>
  <%= f.text_field :venue %></p>
  <p>
  <%= f.label :starts_at %>
  <%= f.datetime_select :starts_at, :ampm => true, :minute_step => 15 %></p>
  <p>
  <%= f.label :ends_at %>
  <%= f.datetime_select :ends_at, :ampm => true, :minute_step => 15 %></p>
  <p>
  <%= f.submit %></p>

<% end %>


<%= link_to 'back',admin_events_path %>
