<h1>Events</h1>
<% if @events.any? %>
  <table>
    <% @events.each_with_index do |event,index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to "#{event.title}", admin_event_teams_path(event.id) %></td>
        <td><%= link_to 'Edit', edit_admin_event_path(event) %></td>
        <td><%= link_to 'Destroy', admin_event_path(event), :method => :delete, :confirm => " are you sure?" %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Sorry! There is no events created yet.</p>
<% end %>

<p><%= button_to "Create an Event", new_admin_event_path, :method => "get",:disable_with => 'loading...' %></p>

<p><%= link_to 'back',admin_path %></p>
