<p><%= link_to 'Matches', admin_event_matches_path(@event_id) %></p>
<p><%= link_to 'Teams', admin_event_teams_path(@event_id) %></p>
<p><%= link_to 'Groups', admin_event_groups_path(@event_id) %></p>
<p><%= link_to 'Rules', admin_event_rules_path(@event_id) %></p>

<p><%= link_to 'back',admin_events_path %></p>
