<h1>Edit a Rule</h1>
</br>

<% @rule.errors.full_messages.each do |error| %>
  <li><%= error %><li>
<% end %>

<%= form_for [:admin,:event, @rule],:url => admin_event_rule_path(params[:event_id],@rule) do |f| %>
  <%= render 'fields', f: f %>
  <%= f.submit %></p>

<% end %>

<%= link_to 'back',admin_event_rules_path %>
