<p>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => "e.g 1" %>
</p>

<p>
  <%= f.label :description %>
  <%= f.cktext_area :description, :ckeditor => {:uiColor => "#E0E0E0"} %>
</p>

<p>
  <%= f.label :first_team %>
  <%= f.select :t1, options_from_collection_for_select(@teams, :title, :title), :prompt=> "--select first team--" %>

  <%= f.label :description %>
  <%= f.select :t1_desc, options_from_collection_for_select(@teams,:description, :description),:prompt=> "--select descripton--" %>
</p>

<p>
  <%= f.label :second_team %>
  <%= f.select :t2, options_from_collection_for_select(@teams, :title, :title),:prompt=> "--select second team --" %>

  <%= f.label :description %>
  <%= f.select :t2_desc, options_from_collection_for_select(@teams, :description, :description),:prompt=> "--select descripton--" %>
</p>

<p>
  <%= f.label :result_who_won? %>
  <%= f.text_field :result, :value => 'nil' %>
</p>
