<p>
  <%= f.label :title %>
  <%= f.text_field :title, :placeholder => "e.g match- 1" %>
</p>

<p>
  <%= f.label :description %>
  <%= f.cktext_area :description, :ckeditor => {:uiColor => "#E0E0E0"} %>
</p>

<p>
  <%= f.label :first_team %>
  <%= f.select :t1, options_from_collection_for_select(@teams, :id, :title, @match.t1), :prompt=> "--select first team--" %>
</p>

<p>
  <%= f.label :second_team %>
  <%= f.select :t2, options_from_collection_for_select(@teams, :id, :title, @match.t2),:prompt=> "--select second team --" %>

</p>

<p>
  <%= f.label :result_who_won? %>
  <%= f.text_field :result, :value => 'nil' %>
</p>
