<h1>Edit a Match <%= @match.title %></h1>
<h3>Team &nbsp;<%= @match.t1 %> <b>v/s</b> Team &nbsp;<%= @match.t2 %></h3>

<% @match.errors.full_messages.each do |error| %>
  <li><%= error %><li>
<% end %>

<%= form_for [:admin,:event, @match],:url => admin_event_match_path(params[:event_id],@match) do |f| %>
  <%= render 'fields', f: f %>
  <%= f.submit %></p>

<% end %>

<%= link_to 'back',admin_event_matches_path %>
