<style type="text/css">
table {
  text-align: center;
}
td,th {
  padding-left: 8px;
}
</style>
<h1><%= @event.title.titleize %>&nbsp;Matches </h1>
<% if @matches.any? %>
  <table>
    <tr>
      <th>Sr No.</th>
      <th>Match</th>
      <th></th>
      <th></th>
      <th>Teams</th>
    </tr>
    <% @matches.each_with_index do |match, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to "Match #{match.title}", admin_event_match_path(params[:event_id],match.id) %></td>
        <td><%= link_to 'edit', edit_admin_event_match_path(params[:event_id],match.id)%></td>
        <td><%= link_to 'destroy', admin_event_match_path(params[:event_id],match.id), :method => :delete, :confirm => "Are you sure?" %></td>
        <td>Team &nbsp;<%= match.t1 %>(<%= match.t1_desc %>) <b>v/s</b> Team &nbsp;<%= match.t2 %>(<%= match.t2_desc %>)</td>
      </tr>
    <% end %>
  </table>
  <h4><%= link_to 'Reset Matches' , reset_matches_path(@event.id), :confirm => "Are you sure?"%></h4>
<% else %>
  <p>Sorry! There is no Matches.</p>
<% end %>

<p><%= button_to "Create a Match", new_admin_event_match_path(params[:event_id]), :method => "get" %></p>

<%= link_to 'back', admin_event_path(params[:event_id]) %>
