<h1>Create a Match</h1>
</br>

<% @match.errors.full_messages.each do |error| %>
  <li><%= error %><li>
<% end %>

<%= form_for [:admin,:event, @match] do |f| %>
  <%= render 'fields', f: f %>
  <%= f.submit %>
<% end %>

<%= link_to 'back',admin_event_matches_path %>
