<p>
  <h4><%= @match.title %></h4>
  <%= raw @match.description %>
  <%= link_to 'edit', edit_admin_event_match_path(params[:event_id],@match.id)%>
  <%= link_to 'destroy', admin_event_match_path(params[:event_id],@match.id), :method => :delete, :confirm => "Are you sure?" %>
</p>
<p><%= @match.t1 %>(<%= @match.t1_desc %>) <b>v/s</b> <%= @match.t2 %>(<%= @match.t2_desc %>)</p>
<% if @match.result.nil? || @match.result == 'nil' %>
  <p>No match played!</p>
<% else %>
  <p>Match Result : <%= @match.result %></p>
<% end %>

<% @team_result= @team_result_holder["#{@match.id}"][0] %></br>
<% match_team = @match.t1 %>
<%= render 'match_result', match_team: match_team %>
</br>
<% @team_result= @team_result_holder["#{@match.id}"][1] %></br>
<% match_team = @match.t2 %>
<%= render 'match_result', match_team: match_team  %>

<p><%= link_to 'back', admin_event_matches_path(params[:event_id]) %></p>
