<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to "Event Management", root_path , :class => "brand" %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><%= link_to 'Home', root_path %></li>
            <li class=" dropdown"><%= link_to 'Events', events_path, :class => "dropdown-toggle" %>
              <% if @events.any? %>
                <ul class="dropdown-menu">
                  <% @events.each do |event| %>
                    <li><%= link_to "#{event.title.titleize}", matches_event_path(event.id) %></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
            <li><%= link_to 'Photos', photos_path %></li>
            <li><%= link_to 'Contact us', "#" %></li>
            <li><%= link_to 'About us', "#" %></li>
            <li><%= link_to 'Feedback', "#", :id => "create-feedback" %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<%= render 'shared/feedback_form' %>

<%= javascript_include_tag "submit_feedback" %>
