<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<style type="text/css">
.tabs {
  margin-left: 40px;
  margin-right: 40px;
}
#dialog-form {
  font-size: 62.5%;
}
#success {
  margin: 40px;
}
.required:after {
  content:"*";
  color: red;
}
.validateTips {
  color: red;
}
</style>

<% tabs = { 'Home'=> root_path, 'Events' => events_path, 'Fixtures' => "#", 'Results' => "#", 'News' => "#", 'Photos' => "#", 'Contact us' => "#", 'About us' => "#", 'Feedback' => "#" } %>

<p class="tabs">
  <% tabs.keys.each_with_index do |key,index| %>
    <% unless key == 'Feedback'%>
      <%= link_to "#{key}", tabs[key] %>
    <% else %>
      <span id="create-feedback"><%= link_to "#{key}", tabs[key] %></span>
    <% end %>
    <%= "|" unless index == tabs.length - 1 %>
  <% end %>
</p>

<p id="success" style="display: none"> Thank you for your valuable Feedback! </p>
<div id="dialog-form" title="Feedback Form">
  <p class="validateTips">* indicates required fields.</p>

  <%= form_for @feedback, :url => feedback_index_path, :remote => true do |f| %>
    <table>
      <tr>
        <td><%= f.label :Name %></td>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <td><%= f.label :Email, :class => "required" %></td>
        <td><%= f.text_field :email %></td>
      </tr>

      <tr>
        <td><%= f.label :Feedback , :class => "required" %></td>
        <td><%= f.text_area :feedback, :size => "60x4" %></td>
      </tr>
    </table>
  <% end %>
</div>

<%= javascript_include_tag "submit_feedback" %>
