<style type="text/css">
#dialog-form {
  font-size: 62.5%;
  display: none;
}
#success {
  margin: 40px;
}
.required:after {
  content:"*";
  color: red;
}
.validateTips {
  color: red;
}
header {
  background: none repeat scroll 0 0 #87CEEB;
  top: 0;
  width: 96%;
  padding: 1px 2%;
  height: 54px;
}
.tabs-bar {
  margin-top: 33px;
}
.tabs-bar li {
  list-style-type: none;
  float: left;
  padding: 5px;
}
#new_feedback table {
  border: none !important;
}
#new_feedback td {
  border: none !important;
  padding: 2px;
  text-align: left;
}
#feedback_feedback {
  max-width: 430px;
  max-height: 117px;
  min-height: 76px;
  min-width: 190px;
}
.with-menu {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #EAEAEA;
  border-top: none;
  border-radius: 0 0px 3px 3px;
  display: block;
  width: 7%;
  position: absolute;
  top: 56px;
  z-index: 2;
  margin: 0 -6px;
  padding: 0;
}
.with-menu li {
  list-style-type: none;
  padding: 5px;
  width: 87%;
}
.highlight {
  background: #FFF;
  border-radius: 3px 3px 0 0;
}
.current {
  background: #E5E4E3;
}
</style>
<header>
  <ul class="tabs-bar">
    <li><%= link_to 'Home', root_path %></li>
    <li id="events"><%= link_to 'Events', events_path %>
      <ul class="with-menu" style="display: none;">
        <% @events.each do |event| %>
          <li><%= link_to "#{event.title.titleize}", event_path(event.id) %></li>
        <% end %>
      </ul>
    </li>
    <li><%= link_to 'Photos', "#" %></li>
    <li><%= link_to 'Contact us', "#" %></li>
    <li><%= link_to 'About us', "#" %></li>
    <li>
      <span id="create-feedback">
        <%= link_to 'Feedback', "#" %>
      </span>
    </li>
  </ul>
</header>

<p id="success" style="display: none"> Thank you for your valuable Feedback! </p>
<div id="dialog-form" title="Feedback Form">
  <p class="validateTips">* indicates required fields.</p>

  <%= form_for @feedback, :url => feedback_index_path, :remote => true do |f| %>
    <table>
      <tr>
        <td><%= f.label :Name %></td>
        <td><%= f.text_field :name %></td>
      </tr>

      <tr>
        <td><%= f.label :Email, :class => "required" %></td>
        <td><%= f.text_field :email %></td>
      </tr>

      <tr>
        <td><%= f.label :Feedback , :class => "required" %></td>
        <td><%= f.text_area :feedback, :size => "60x4" %></td>
      </tr>
    </table>
  <% end %>
</div>

<%= javascript_include_tag "submit_feedback" %>

<script type="text/javascript">
$("#events").hover(function() {
  $(".with-menu").toggle();
  $("#events").toggleClass("highlight");
})
$(".with-menu li").hover(function() {
  $(this).toggleClass("current");
})

</script>