<li>
  <%= image_tag(photo.image.url(:heroimage), :alt => "#{photo.title}") %>
  <p><%= photo.title %>
  <br/><%= photo.image_updated_at.strftime("%d-%b-%Y %I:%M %p") %></p>

  <div class="box-caption">
    <h3>Find More</h3>
    <%= link_to "Matches >", matches_event_path(photo.event_id) %></br>
    <%= link_to "Teams >", teams_event_path(photo.event_id) %></br>
    <%= link_to "Results >",results_event_path(photo.event_id) %></br>
  </div>
</li>