<div class="row">
  <span id="fixtures"><%= link_to "Fixtures", "#" %></span>
  <span id="results" class="active"><%= link_to "Results", "#" %></span>
  <div class="fixtures" style="display: none;">
    <div id="fixture-scrollable">
      <% if @match_fixtures.any? %>
        <% j = 0 %>
          <% @match_fixtures.each_with_index do |match,index| %>
            <li>
              <% @events.each do |event| %>
                <%= event.title if event.id.eql?(match.event_id) %>
              <% end %> |
              <%= link_to match.title, matches_event_path(match.event_id) %> </br>
              <%= @teams_for_fixtures[j][0].title unless @teams_for_fixtures[j][0].nil? %> v/s <%= @teams_for_fixtures[j][1].title unless @teams_for_fixtures[j][1].nil? %> </br>
              <%= match.updated_at.strftime("%d-%b-%Y %I:%M %p") unless match.nil? %>
            </li>
            <% j+=1 %>
          <% end %>
      <% else %>
        <li>No Fixtures!</li>
      <% end %>
    </div>
  </div>

  <div class="results">
    <div id="result-scrollable">
      <% if @match_results.any? %>
        <% i = 0 %>
        <% @match_results.each_with_index do |match,index| %>
          <li>
            <% @events.each do |event| %>
              <%= event.title if event.id.eql?(match.event_id) %>
            <% end %> |
            <%= link_to match.title, matches_event_path(match.event_id) %> </br>
            <%= @teams_for_results[i][0].title unless @teams_for_results[i][0].nil? %> v/s <%= @teams_for_results[i][1].title unless @teams_for_results[i][1].nil? %> </br>
            <%= match.result unless match.nil? %> </br>
            <%= match.updated_at.strftime("%d-%b-%Y %I:%M %p") unless match.nil? %>
          </li>
          <% i+=1 %>
        <% end %>
      <% else %>
        <li>No Results!</li>
      <% end %>
    </div>
  </div>
</div>

<% if @photos.any? %>
<div class="row">
    <!-- slider -->
    <div class="flexslider">
      <ul class="slides">
        <%= render(:partial => 'photo', :collection => @photos) %>
      </ul>
    </div>
    <span id="responsiveFlag"></span>
</div>
<% end %>

<div class="row">
  <div class="span6">
    <div class="ic"></div>
    <div class="row-1">
      <div class="row">
      </div>
    </div>

    <div class="row-2">
      <h3>News and Latest Updates</h3>
      <ul>
        <li>News 1</li>
        <li>News 2</li>
        <li>News 3</li>
      </ul>
      <%= link_to 'Read More', "#", :class => "btn btn-1" %>
    </div>

    <div class="row-1">
      <div class="row">
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="ic"></div>
    <div class="row-1">
      <div class="row">
      </div>
    </div>

    <div class="row-2">
      <h3>Shortly about us</h3>
      We are developers by passion!!</br>
      Let's have some talk.
      <div class="clear"></div>
      <%= link_to 'Contact Us', "#", :class => "btn btn-1" %>
    </div>

    <div class="row-1">
      <div class="row">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$("#fixtures").click(function () {
  $(".fixtures").show();
  $(".results").hide();
  $("#fixtures").addClass("active");
  $("#results").removeClass("active");
})

$("#results").click(function () {
  $(".results").show();
  $(".fixtures").hide();
  $("#results").addClass("active");
  $("#fixtures").removeClass("active");
})

$("#fixture-scrollable").smoothDivScroll({
  autoScrollingMode: "onStart"
});

$("#result-scrollable").smoothDivScroll({
  autoScrollingMode: "onStart"
});

</script>
