<div class="row">
  <div class="photos span9" style="display: block;">
    <div class="photo-carousel-cointainer" style="">
      <ul id="photo-listing-cointainer">
        <%= render(:partial => 'photo', :collection => @photos) %>
      </ul>
    </div>

    <div class="scroll-left" style="display: block;">&nbsp;</div>
    <div class="scroll-right" style="display: none;">&nbsp;</div>
  </div>

  <div class="span3">
    <%= link_to "Fixtures", "#" , :id => "fixtures" %> |
    <%= link_to "Results", "#" , :id => "results" %>
    <% events = @events.collect(&:title) %>
    <div class="results">
      <% if @match_results.flatten.any? %>
        <% i = 0 %>
        <% @match_results.each_with_index do |match_result,index| %>
            <% unless match_result.empty? %>
              <h6><%= events[index] %> | Results</h6>
              <% match_result.each_with_index do |match,index| %>
                <li><%= match.title unless match.nil? %> </br>
                  <%= @teams_for_results[i][0].title unless @teams_for_results[i][0].nil? %> v/s <%= @teams_for_results[i][1].title unless @teams_for_results[i][1].nil? %> </br>
                  <%= match.result unless match.nil? %> </br>
                  <%= match.updated_at.strftime("%d-%b-%Y %I:%M %p") unless match.nil? %>
                </li>
                <% i+=1 %>
              <% end %>
            <% end %>
        <% end %>
      <% else %>
        No Results!
      <% end %>
    </div>
    <div class="fixtures">
      <% if @match_fixtures.flatten.any? %>
        <% j = 0 %>
        <% @match_fixtures.each_with_index do |match_fixture,index| %>
          <% unless match_fixture.empty? %>
            <h6><%= events[index] %> | Fixtures</h6>
            <% match_fixture.each do |match| %>
              <li><%= match.title unless match.nil? %> </br>
                  <%= @teams_for_fixtures[j][0].title unless @teams_for_fixtures[j][0].nil? %> v/s <%= @teams_for_fixtures[j][1].title unless @teams_for_fixtures[j][1].nil? %> </br>
                  <%= match.updated_at.strftime("%d-%b-%Y %I:%M %p") unless match.nil? %>
              </li>
              <% j+=1 %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        No Fixtures!
      <% end %>
    </div>
  </div>
</div>
<%= javascript_include_tag "photo_scroll" %>

<script type="text/javascript">
$("#fixtures").click(function () {
  $(".fixtures").show();
  $(".results").hide();
})

$("#results").click(function () {
  $(".results").show();
  $(".fixtures").hide();
})
</script>
