<%= "Here you are -> " + @event.title + "/" + params[:action] %>
<ul class="tab-container">
  <div class="tabs">
    <li><%= link_to 'Matches', matches_event_path(@event.id) %></li>
    <li><%= link_to 'Teams', teams_event_path(@event.id) %></li>
    <li><%= link_to 'Groups', groups_event_path(@event.id) %></li>
    <li><%= link_to 'Results', results_event_path(@event.id) %></li>
    <li><%= link_to 'Rules', rules_event_path(@event.id) %></li>
  </div>
</ul>