<h4>Events</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Event</th>
      <th>Description</th>
      <th>Venue</th>
      <th>Time</th>
    </tr>
  </thead>
  <% @events.each_with_index do |event,index| %>
  <tbody>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= link_to "#{event.title.titleize}", matches_event_path(event.id), :title => "See Event Details" %></td>
      <td><%= event.description %></td>
      <td><%= event.venue %></td>
      <td>
        <b>Date :</b><%= event.starts_at.strftime("%d-%b-%Y") %></br>
        <b>Time :</b><%= event.starts_at.strftime("%I:%M %p") %><b>--</b><%= event.ends_at.strftime("%I:%M %p") %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<p><%= link_to 'back', root_path %></p>
