<style type="text/css">
table {
  border:1px solid;
  border-collapse:collapse;
  text-align: center;
  width: 100%;
}
th {
  border:1px solid;
  padding: 5px;
  border-color: #000080;
}
td {
  border:1px solid;
  border-color: #000080;
  padding: 5px;
}
</style>
<h1>Events</h1>

<table>
  <tr>
    <th>Sr No.</th>
    <th>Event</th>
    <th>Description</th>
    <th>Venue</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Time</th>
  </tr>
  
  <% @events.each_with_index do |event,index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= link_to "#{event.title.titleize}", event_path(event.id), :title => "See Event Details" %></td>
    <td><%= event.description %></td>
    <td><%= event.venue %></td>
    <td><b>Date :</b><%= event.starts_at.strftime("%d-%b-%Y") %></br>
        <b>Time :</b><%= event.starts_at.strftime("%I:%M %p") %>
    </td>
    <td><b>Date :</b><%= event.ends_at.strftime("%d-%b-%Y") %></br>
        <b>Time :</b><%= event.ends_at.strftime("%I:%M %p") %>
    </td>
    <td>
      <b>Date :</b><%= event.starts_at.strftime("%d-%b-%Y") %></br>
      <b>Time :</b><%= event.starts_at.strftime("%I:%M %p") %><b>--</b><%= event.ends_at.strftime("%I:%M %p") %>
    </td>
  </tr>
  <% end %>
</table>

<p><%= link_to 'back', root_path %></p>
