<h1>Events</h1>

<table style="border: 1px dashed" width="100%"  cellspacing="4" cellpadding="4">
  <tr>
    <th align="left">No.</th>
    <th align="left">Event</th>
    <th align="left">Description</th>
    <th align="left">Venue</th>
    <th align="left">Starts at</th>
    <th align="left">Ends at</th>
  </tr>
  <tr>
    <td colspan="6"><hr/></td>
  </tr>
  <% @events.each_with_index do |event,index| %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= link_to "#{event.title.capitalize}", show_teams_event_path(event.id) %></td>
    <td><%= event.description %></td>
    <td><%= event.venue %></td>
    <td><%= time_ago_in_words event.starts_at %></td>
    <td><%= time_ago_in_words event.ends_at  %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to 'back', root_path %></p>
