<%= render 'tabs' %>

<h4>Matches</h4>
<% if @matches.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th >Sr No.</th>
        <th>Match</th>
        <th>Teams</th>
        <th>Details</th>
        <th>Result &nbsp;<%= link_to 'Point Table', results_event_path(@event.id) %></th>
      </tr>
    </thead>
    <% @matches.each_with_index do |match,index| %>
      <% unless match.nil? %>
        <tbody>
          <tr>
            <td><%= index +1 %></td>
            <td style="text-align: left;"><%= match.title %></td>
            <td><%= @team_1[index].title %> v/s <%= @team_2[index].title %></td>
            <td style="text-align: left;"><%= raw match.description %></td>
            <% unless match.result.nil? || match.result == 'nil' %>
              <td><%= match.result %></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
<% else %>
  No matches!
<% end %>

<p><%= link_to 'back', events_path %></p>
