<style type="text/css">
table {
  border:1px solid;
  border-collapse:collapse;
}
th {
  border:1px solid;
  padding: 5px;
  border-color: #000080;
}
td {
  border:1px solid;
  border-color: #000080;
  width: 136px;
}
</style>
<h1><%= @event.title.titleize %>&nbsp;Teams</h1>
<% if @teams.any? %>
  <table>
    <tr>
      <% @teams.each_with_index do |team,index| %>
        <th>Team&nbsp;<%= team.title %>(<%= team.description %>)</th>
      <% end %>
    </tr>
    <tr>
      <% @teams.each_with_index do |team,index| %>
        <td>
          <ul>
            <% if team.players.any? %>
              <% team.players.each do |player| %>
                <li><%= player.name %></li>
              <% end %>
            <% else %>
              No players selected!
            <% end %>
          </ul>
        </td>
      <% end %>
    </tr>
  </table>
<% else %>
  No Teams selected!
<% end %>

<h2>Rules</h2>
<% if @rules.any? %>
  <% @rules.each_with_index do |rule,index| %>
    <p>
      (<%= index + 1 %>)
      <%= rule.description %>
    </p>
  <% end %>
<% else %>
  <p>Why should all the games have rules!! Cheers!</p>
<% end %>

<%= link_to 'back', results_event_path %>
