<p><%= link_to 'Matches', matches_event_path(@event_id) %></p>
<p><%= link_to 'Teams', teams_event_path(@event_id) %></p>
<p><%= link_to 'Results', results_event_path(@event_id) %></p>
<p><%= link_to 'Rules', rules_event_path(@event_id) %></p>

<p><%= link_to 'back', events_path %></p>
