<%= render 'tabs' %>

<h4>Teams</h4>
<% if @teams.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <% @teams.each_with_index do |team,index| %>
          <th><%= team.title %><%= team.description %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @teams.each_with_index do |team,index| %>
          <td>
            <% if team.players.any? %>
              <ul>
                <% team.players.each do |player| %>
                  <li><%= player.name %></li>
                <% end %>
              </ul>
            <% else %>
              No players selected!
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% else %>
  <p>No Teams selected!</p>
<% end %>

<p><%= link_to 'back', events_path %></p>
