<div class="shell"><%= render 'admin/shared/tabs' %></div>

<div class="msg msg-error">
  <% @group.errors.full_messages.each do |error| %>
    <p><strong><%= error %></strong></p>
  <% end %>
</div>
<div class="content">
<!-- Box -->
  <div class="box">
    <div class="box-head">
      <h2>Edit a Group</h2>
    </div>
    <%= form_for [:admin,:event, @group],:url => admin_event_group_path(params[:event_id],@group) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit  :class => "add-button" %>
      <div class="cl">&nbsp;</div>
    <% end %>
  </div>
<!-- End Box -->
</div>

<p><%= link_to 'back',admin_event_groups_path %></p>
