<h1><%= @event.title.titleize %>&nbsp;Groups</h1>

<% if @groups.any? %>
  <% @groups.each do |group| %>
    <p>
      Group Name&nbsp;<%= group.title %>
      <%= link_to 'edit', edit_admin_event_group_path(params[:event_id],group.id)%>
      <%= link_to 'destroy', admin_event_group_path(params[:event_id],group.id), :method => :delete, :confirm => "Are you sure?" %>
    </p>
    <% if group.teams.any? %>
      <h4>teams</h4>
        <ul>
          <% group.teams.each do |team| %>
            <li><%= team.title %>&nbsp;&nbsp;<%= link_to image_tag("remove.gif", :border => 0), remove_team_path(params[:event_id],group.id,team.id),:confirm => "Are you sure?" %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_tag add_team_path(params[:event_id],group.id), :method => :post do %>
      <div class="field">
        Team &nbsp;<%= select_tag :team_id, options_from_collection_for_select(@teams, :id, :title) %>
        <%= submit_tag "Add" %>
      </div>
    <% end %>

    <p><%= link_to 'Reset Group', reset_group_path(params[:event_id],group.id),:confirm => "Are you sure?" if group.teams.any? %></p>
-----------------------------------------
  <% end %>
<% else %>
  <p>Sorry! There is no groups selected yet.</p>
<% end %>

<p><%= button_to "Create a Group", new_admin_event_group_path(@event.id), :method => "get" %></p>
<%= link_to 'back', admin_event_path(params[:event_id]) %>
