<h1>Create a Group</h1>
</br>

<% @group.errors.full_messages.each do |error| %>
  <li><%= error %><li>
<% end %>

<%= form_for [:admin,:event, @group] do |f| %>
  <%= render 'fields', f: f %>
  <%= f.submit %>
<% end %>

<%= link_to 'back',admin_event_groups_path %>
