<%= render 'admin/shared/tabs' %>
<h1>Edit a Team</h1>
</br>

<% @team.errors.full_messages.each do |error| %>
  <li><%= error %><li>
<% end %>

<%= form_for [:admin,:event, @team],:url => admin_event_team_path(params[:event_id],@team) do |f| %>
  <%= render 'fields', f: f %>
  <%= f.submit %>
<% end %>

<%= link_to 'back',admin_event_teams_path %>
