<div class="shell"><%= render 'admin/shared/tabs' %></div>

<div class="msg msg-error">
  <% @team.errors.full_messages.each do |error| %>
    <p><strong><%= error %></strong></p>
  <% end %>
</div>
<div class="content">
<!-- Box -->
  <div class="box">
    <div class="box-head">
      <h2>Edit a Team</h2>
    </div>
    <%= form_for [:admin,:event, @team],:url => admin_event_team_path(params[:event_id],@team) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit  :class => "add-button" %>
      <div class="cl">&nbsp;</div>
    <% end %>
  </div>
<!-- End Box -->
</div>
<%= link_to 'back',admin_event_teams_path %>
