<%= render 'admin/shared/tabs' %>

<h1>Teams</h1>

<% if @teams.any? %>
  <% @teams.each do |team| %>
    <p>
      <%= team.title %>
      (<%= team.description %>)
      <%= link_to 'edit', edit_admin_event_team_path(params[:event_id],team.id)%>
      <%= link_to 'destroy', admin_event_team_path(params[:event_id],team.id), :method => :delete, :confirm => "Are you sure?" %>
    </p>
    <% if team.players.any? %>
      <h4>players</h4>
        <ul>
          <% team.players.each do |player| %>
            <li><%= player.name %>&nbsp;&nbsp;<%= link_to image_tag("remove.gif", :border => 0), remove_player_path(params[:event_id],team.id,player.id),:confirm => "Are you sure?" %></li>
          <% end %>
        </ul>
    <% end %>

    <%= form_tag add_player_path(params[:event_id],team.id), :method => :post do %>
      <div class="field">
        <%= select_tag :user_id, options_from_collection_for_select(@users, :id, :name) %>
        <%= submit_tag "Add" %>
      </div>
    <% end %>

    <p><%= link_to 'Reset Team', reset_team_path(params[:event_id],team.id),:confirm => "Are you sure?" if team.players.any? %></p>
-----------------------------------------
  <% end %>
<% else %>
  <p>Sorry! There is no teams selected yet.</p>
<% end %>

<p><%= button_to "Create a Team", new_admin_event_team_path(@event.id), :method => "get" %></p>
<%= link_to 'back', admin_event_path(params[:event_id]) %>
