<h1><%= @event.title.capitalize %>&nbsp;Teams</h1>

<% if @teams.any? %>
  <% @teams.each do |team| %>
    <p>
      <%= team.title %>
      <%= team.description %>
      <%= team.id %>
      <%= team.event_id %>
      <%= link_to 'edit', "#" %>
      <%= link_to 'destroy',"#", :method => :delete, :confirm => " are you sure?" %>
    </p>
    <% if team.users.any? %>
      <p><h4>players</h4>
        <% team.users.each do |player| %>
          <%= player.name %></br>
        <% end %>
      </p>
    <% end %>

   <%= link_to 'add player', "#" %></br>
-----------------------------------------
  <% end %>
<% else %>
  <p>Sorry! There is no teams selected yet.</p>
<% end %>

<p><%= button_to "Create a Team", new_admin_event_team_path(@event.id), :method => "get",:disable_with => 'loading...' %></p>

<h1>Rules</h1>
<p>coming soon!</p>

<%= link_to 'back', admin_events_path %>