<div class="shell"><%= render 'admin/shared/tabs' %></div>

<div id="content">
  <!-- Box -->
  <div class="box">
    <!-- Box Head -->
    <div class="box-head">
      <h2 class="left">Teams</h2>
    </div>
    <!-- End Box Head --> 
    <% if @teams.any? %>
      <!-- Table -->
      <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th>Sr No</th>
            <th>Team</th>
            <th>Players</th>
            <th width="110" class="ac">Content Control</th>
          </tr>
          <% @teams.each_with_index do |team, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= team.title + team.description %></td>
              <td>
                <% if team.players.any? %>
                    <% team.players.each do |player| %>
                      <li>
                        <%= player.name %>&nbsp;&nbsp;<%= link_to image_tag("remove.gif", :border => 0), remove_player_path(params[:event_id],team.id,player.id),:confirm => "Are you sure?" %>
                      </li>
                    <% end %>
                <% end %>
                <% unless @dropdown_users.empty? %>
                  <%= form_tag add_player_path(params[:event_id],team.id), :class => "small-field", :method => :post do %>
                      <%= select_tag :user_id, options_from_collection_for_select(@dropdown_users, :id, :name) %>
                      <%= image_submit_tag("admin/add-button-tiny.gif") %>
                  <% end %>
                <% end %>
                <%= link_to 'Reset players', reset_team_path(params[:event_id],team.id),:confirm => "Are you sure?" if team.players.any? %>
              </td>
              <td><%= link_to 'edit', edit_admin_event_team_path(params[:event_id],team.id), :class => "ico edit" %>
                  <%= link_to 'destroy', admin_event_team_path(params[:event_id],team.id), :class => "ico del", :method => :delete, :confirm => "Are you sure?" %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <!-- Table -->
    <% else %>
     <p>Sorry! There is no teams selected yet.</p>
    <% end %>
  </div>
  <!-- End Box -->
   <%= link_to 'back', admin_event_path(params[:event_id]) %>
</div>

<!-- Sidebar -->
  <div id="sidebar">
    <!-- Box -->
    <div class="box">
      <div class="box-head">
        <h2>Management</h2>
      </div>
      <div class="box-content">
        <%= link_to content_tag(:span, "Create a Team"), new_admin_event_team_path(@event.id), :class => "add-button", :method => "get" %>
        <div class="cl">&nbsp;</div>
      </div>
      
    </div>
    <!-- End Box -->
  </div>
<!-- End Sidebar -->
