<h2>Result</h2>
Last Updated at : <%= @team_result.updated_at %></br>
Last Updated by : <%= current_user.name %>
<p>Played : <%= @team_result.played %>&nbsp;<%= link_to image_tag("plus_one.png"), plus_one_played_path(params[:event_id],params[:team_id]) %></p>
<p>Won : <%= @team_result.won %>&nbsp;<%= link_to image_tag("plus_one.png"), plus_one_won_path(params[:event_id],params[:team_id]) %></p>
<p>Lost : <%= @team_result.lost %>&nbsp;<%= link_to image_tag("plus_one.png"), plus_one_lost_path(params[:event_id],params[:team_id]) %></p>
<p>Tie : <%= @team_result.tie %>&nbsp;<%= link_to image_tag("plus_one.png"), plus_one_tie_path(params[:event_id],params[:team_id]) %></p>
<p>NR : <%= @team_result.nr %>&nbsp;<%= link_to image_tag("plus_one.png"), plus_one_nr_path(params[:event_id],params[:team_id]) %></p>
<p>Points : <%= @team_result.points %></p>
<p>NRR : <%= @team_result.nrr %></p>


<p><%= button_to "Reset Result", reset_result_path(params[:team_id]), :confirm => "Are You sure " if @team_result.played != 0 %></p>

<%= link_to 'back', admin_event_teams_path %>
