<!-- Header -->
<div id="header">
  <div class="shell">
    <!-- Logo + Top Nav -->
    <div id="top">
      <h1><%= link_to "Admin Panel", admin_path %></h1>
      <div id="top-navigation">
        Welcome <strong><%= current_user.name %></strong>
        <span>|</span>
        <%= link_to 'Profile Settings', edit_admin_user_path(current_user) %>
        <span>|</span>
        <%= link_to 'Logout', logout_path %>
      </div>
    </div>
    <!-- End Logo + Top Nav -->
    
    <!-- Main Nav -->
    <div id="navigation">
      <ul>
          <li><%= link_to content_tag(:span, 'Dashboard'), admin_path %></li>
          <li><%= link_to content_tag(:span, 'Events') , admin_events_path %></li>
          <li><%= link_to content_tag(:span, 'Users'), admin_users_path %></li>
          <li><%= link_to content_tag(:span, 'Photos'), admin_photos_path %></li>
          <li><%= link_to content_tag(:span, 'Feedback'), admin_feedbacks_path %></li>
      </ul>
    </div>
    <!-- End Main Nav -->
  </div>
</div>
<!-- End Header -->
