<style type="text/css">
  header {
    background: none repeat scroll 0 0 #5791C7;
    border-bottom: 1px solid #5791C7;
    top: 0;
    width: 100%;
    z-index: 9999;
    position: fixed;
    height: 60px;
  }
.header-items a {
  color: #000;
}
.header-items li {
  list-style-type: none;
  float: left;
  padding: 5px;
  margin-top: -10px;
}
.logout {
  float: right;
  color: #FFF;
}
.header-tabs li {
  list-style-type: none;
  float: left;
  padding-left: 3px;
  margin-top: 21px;
}
.header-tabs a {
  color: #1A2C3C;
  background: none repeat scroll 0 0 #DDE9F4;
  border-radius: 3px;
  padding: 5px;
}
#logo {
  background: none repeat scroll 0 0 #DDE9F4;
  border-radius: 6px;
  padding: 5px;
}
</style>
<header>
  <ul class="header-items">
      <li><%= link_to "Admin Panel", admin_path, :id=>'logo' %></li>
      <div class="logout"><li><%= link_to 'Logout', logout_path %></li></div>
  </ul>
  <ul class="header-tabs">
    <li><%= link_to 'Dashboard', admin_path %></li>
    <li><%= link_to 'Events', admin_events_path %></li>
    <li><%= link_to 'Users', admin_users_path %></li>
  </ul>
</header>
