<style type="text/css">
.tab-container {
  height: 27px;
  padding-left: 0px;
}
.tabs li {
  list-style-type: none;
  float: left;
  padding: 5px;
}
</style>

<%= "Here you are -> Admin/" + @event.title + "/" + params[:controller].split('/').last %>
<ul class="tab-container">
  <div class="tabs">
    <li><%= link_to 'Matches', admin_event_matches_path(@event.id) %></li>
    <li><%= link_to 'Teams', admin_event_teams_path(@event.id) %></li>
    <li><%= link_to 'Groups', admin_event_groups_path(@event.id) %></li>
    <li><%= link_to 'Rules', admin_event_rules_path(@event.id) %></li>
  </div>
</ul>