<!DOCTYPE html>
<html>
<head>
  <title>EM | Admin </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="admin-panel">
  <%= render 'admin/shared/header' %>

  <div id="container">
    <div class="shell">
      <div class="small-nav">
        Here you are : <%= render_breadcrumbs %>
      </div>
        <% flash.each do |name,msg| %>
          <div class="msg <%= "msg-ok" if name == :success %> <%= "msg-error" if name == :error %>" >
            <p><strong><%= msg %></strong></p>
          </div>
        <% end %>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
