<!DOCTYPE html>
<html>
<head>
  <title>EM | Admin </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="admin-panel">
  <%= render 'admin/shared/header' %>

  <div id="container">
    <div class="shell">
      <div class="small-nav">
        <%= render 'admin/shared/path' %>
      </div>
      <div class="msg">
        <% flash.each do |name,msg| %>
          <%= content_tag(:div, msg, :id => "flash_#{name}")%>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
