<!DOCTYPE html>
<html>
<head>
  <title>EventManagement</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
  <% if logged_in? %>
    Logged in as <b><%= current_user.name %></b>
    <%= link_to 'Logout', logout_path %></br>
    <%= link_to 'Admin Panel | Home', admin_path %>
  <% end %>
  <div id="container">
    <% flash.each do |name,msg| %>
      <%= content_tag(:div, msg, :id => "flash_#{name}")%>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
