<!DOCTYPE html>
<html>
  <head>
    <title>EM</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= "with-login" if logged_in? %>" >
    <%= render 'shared/admin_login' %>
    <%= render 'shared/header' %>

    <div class="container">
      <%= render 'shared/path' %>
      <% flash.each do |name,msg| %>
        <%= content_tag(:div, msg, :id => "flash_#{name}")%>
      <% end %>

      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
